.small_blue
{
	background:url(../imagenes/box/small_blue.png);
	width:261px;
	height:27px;
	margin:auto;
	font-family:Volter Bold;
	color:#FFFFFF;
	font-size:19px;
	text-shadow:#377e94 0 1px;
	padding:17px 0 0 10px;
}
.small_red
{
	background:url(../imagenes/box/small_red.png);
	width:261px;
	height:27px;
	margin:auto;
	font-family:Volter Bold;
	color:#FFFFFF;
	font-size:15px;
	text-shadow:#913a3d 0 1px;
	padding:17px 0 0 10px;
}
.small_yellow
{
	background:url(../imagenes/box/small_yellow.png);
	width:261px;
	height:27px;
	margin:auto;
	font-family:Volter Bold;
	color:#FFFFFF;
	font-size:18px;
	text-shadow:#9c8e3e 0 1px;
	padding:17px 0 0 10px;
}
.small_middle
{
	background:url(../imagenes/box/small_middle.png);
	width:265px;
	height:auto;
	margin:auto;
	padding:0 3px 0 3px;
}
.small_bottom
{
	background:url(../imagenes/box/small_bottom.png);
	width:271px;
	height:4px;
	margin:auto;
	margin-bottom:2px;
}
.large_middle
{
	background:url(../imagenes/box/large_middle.png);
	width:619px;
	height:auto;
	margin:auto;
	padding:0 3px 0 3px;
}
.large_bottom
{
	background:url(../imagenes/box/large_bottom.png);
	width:625px;
	height:6px;
	margin:auto;
	margin-bottom:2px;
}
.large_grey
{
	background:url(../imagenes/box/large_grey.png);
	width:615px;
	height:27px;
	margin:auto;
	font-family:Volter Bold;
	color:#FFFFFF;
	font-size:15px;
	text-shadow:#767676 0 1px;
	padding:17px 0 0 10px;
}
.large_middle_2
{
	background:url(../imagenes/box/large_middle_2.png);
	width:619px;
	height:auto;
	margin:auto;
	padding:0 3px 0 3px;
}
.large_bottom_2
{
	background:url(../imagenes/box/large_bottom_2.png);
	width:625px;
	height:4px;
	margin:auto;
	margin-bottom:2px;
}